

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1698668706716-10 {top: 140px; left: 80px; height: 40px; width: 40px;
        }
        .silex-id-1698668763743-12 {top: 160px; left: 20px; height: 20px; width: 40px;
        }
        .silex-id-1698668228185-3 {top: 240px; left: 40px; height: 140px; width: 260px; display: flex;
        }
        .silex-id-1698668229859-4 {top: 400px; left: 40px; height: 64px; width: 64px;
        }
        .silex-id-1698668232390-5 {top: 400px; left: 140px; height: 64px; width: 64px;
        }
        .silex-id-1698669075705-13 {top: 400px; left: 240px; height: 60px; width: 60px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 400px; left: 200px; width: 340px; height: 480px;
        }
        .silex-id-1698668407147-7 {top: 20px; left: 100px; height: 20px; width: 140px; text-align: center; font-weight: bold;
        }
        .silex-id-1698668625108-9 {top: 80px; left: 20px; height: 40px; width: 160px;
        }
        .silex-id-1698668603015-8 {top: 80px; left: 200px; height: 40px; width: 40px;
        }
    