

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1706612619308-2 {top: 20px; left: 220px; height: 40px; width: 400px; text-align: center; font-weight: bold; font-size: 20px; border-width: 2px; border-style: solid;
        }
        .silex-id-1700762156172-0 {top: 80px; left: 320px; height: 20px; width: 200px; text-align: center; border-width: 1.5px; border-style: solid;
        }
        .silex-id-1700762705811-3 {top: 400px; left: 240px; height: 140px; width: 366px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: -40px; left: 160px; width: 840px; height: 600px; font-family: Tahoma, Geneva, sans-serif; border-width: 3px; border-style: solid;
        }
        .silex-id-1706612949621-3 {top: 560px; left: 300px; height: 20px; width: 240px; text-align: center; font-size: 18px; font-weight: bold;
        }
        .silex-id-1704804604896-5 {top: 120px; left: 440px; height: 20px; width: 360px; border-width: 1px; border-style: solid; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif; text-align: center;
        }
        .silex-id-1700762391238-2 {top: 120px; left: 40px; height: 20px; width: 360px; border-width: 1px; border-style: solid; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif; text-align: center;
        }
    