

        .silex-id-1700762705811-3 {top: 340px; left: 40px; height: 160px; width: 366px; border-width: 0px; border-style: solid;
        }
        .silex-id-1700762156172-0 {top: 80px; left: 120px; height: 20px; width: 200px; border-width: 1.5px; text-align: center; border-radius: 0px; font-style: normal; border-color: rgb(0, 0, 0); border-style: solid;
        }
        .silex-id-1701343097557-1 > input {
        }
        .background-initial {background-color: transparent; top: -40px; left: 154px; width: 446px; height: 560px; border-width: 3px; border-style: solid;
        }
        .silex-id-1706518497426-0 {top: 20px; left: 20px; height: 40px; width: 400px; font-size: 20px; text-align: center; font-weight: bold; border-width: 2px; border-style: solid; border-radius: 0px; color: rgb(0, 0, 0); background-color: transparent; font-family: Tahoma, Geneva, sans-serif;
        }
        .body-initial {background-color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif; font-style: normal;
        }
        .silex-id-1701080446269-0 {top: 200px; left: 60px; height: 20px; width: 340px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1701343097557-1 {top: 220px; left: 60px; height: 1.4em; width: 60px; background-color: transparent; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1701343124111-2 {top: 220px; left: 120px; height: 20px; width: 40px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1701343139242-3 {top: 220px; left: 160px; height: 20px; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1700762391238-2 {top: 140px; left: 40px; height: 180px; width: 360px; border-width: 1px; border-style: solid; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; text-align: center;
        }
        .silex-id-1710712489800-2 {top: 140px; left: 40px; height: 40px; width: 360px; border-width: 0.5px; border-style: solid; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; text-align: center;
        }
        .silex-id-1701344061895-9 {top: 240px; left: 100px; height: 40px; width: 300px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1700909256620-1 {top: 280px; left: 40px; height: 40px; width: 360px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; text-align: center;
        }
        .silex-id-1706518582692-1 {top: 520px; left: 80px; height: 20px; width: 280px; text-align: center; font-size: 18px; border-color: rgb(0, 0, 0); border-radius: 8px; border-width: 0px; border-style: solid; font-style: normal; font-weight: bold;
        }
    