

        .silex-id-1706518497426-0 {top: 20px; left: 20px; height: 40px; width: 400px; font-size: 20px; text-align: center; font-weight: bold; border-width: 2px; border-style: solid; border-radius: 0px; color: rgb(0, 0, 0); background-color: transparent; font-family: Tahoma, Geneva, sans-serif;
        }
        .body-initial {background-color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif; font-style: normal;
        }
        .silex-id-1700762156172-0 {top: 80px; left: 100px; height: 20px; width: 240px; border-width: 1.5px; text-align: center; border-radius: 0px; font-style: normal; border-color: rgb(0, 0, 0); border-style: solid;
        }
        .background-initial {background-color: transparent; top: -40px; left: 154px; width: 446px; height: 660px; border-width: 3px; border-style: solid; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1706518582692-1 {top: 620px; left: 100px; height: 20px; width: 240px; text-align: center; font-size: 18px; border-color: rgb(0, 0, 0); border-radius: 8px; border-width: 0px; border-style: solid; font-style: normal;
        }
        .silex-id-1700762705811-3 {top: 440px; left: 40px; height: 160px; width: 366px; border-width: 0px; border-style: solid;
        }
        .silex-id-1700762391238-2 {top: 120px; left: 40px; height: 60px; width: 360px;
        }
        .silex-id-1706614103158-1 {top: 320px; left: 140px; height: 20px; width: 40px;
        }
        .silex-id-1706614144060-2 {top: 340px; left: 140px; height: 20px; width: 60px;
        }
        .silex-id-1706614163654-3 {top: 340px; left: 200px; height: 20px; width: 40px;
        }
        .silex-id-1706614181762-4 {top: 340px; left: 240px; height: 20px; width: 40px;
        }
        .silex-id-1706614211344-5 {top: 360px; left: 180px; height: 20px; width: 40px;
        }
        .silex-id-1706614228457-6 {top: 360px; left: 220px; height: 1.4em; width: 20px;
        }
        .silex-id-1706614232641-7 {top: 360px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1706614266164-8 {top: 380px; left: 180px; height: 20px; width: 40px;
        }
        .silex-id-1706614298418-9 {top: 400px; left: 140px; height: 20px; width: 40px;
        }
        .silex-id-1706614315900-10 {top: 380px; left: 220px; height: 1.4em; width: 20px;
        }
        .silex-id-1706614336326-11 {top: 400px; left: 180px; height: 1.4em; width: 100px;
        }
        .silex-id-1706614341531-12 {top: 400px; left: 280px; height: 20px; width: 20px;
        }
        .silex-id-1706614048900-0 {top: 180px; left: 40px; height: 120px; width: 360px; font-style: italic; border-width: 1px; border-style: solid;
        }
    