

        .silex-id-1706518497426-0 {top: 20px; left: 20px; height: 40px; width: 400px; font-size: 20px; text-align: center; font-weight: bold; border-width: 2px; border-style: solid; border-radius: 0px; color: rgb(0, 0, 0); background-color: transparent; font-family: Tahoma, Geneva, sans-serif;
        }
        .body-initial {background-color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif; font-style: normal;
        }
        .silex-id-1700762156172-0 {top: 80px; left: 100px; height: 20px; width: 240px; border-width: 1.5px; text-align: center; border-radius: 0px; font-style: normal; border-color: rgb(0, 0, 0); border-style: solid;
        }
        .silex-id-1700762705811-3 {top: 300px; left: 40px; height: 160px; width: 366px; border-width: 0px; border-style: solid;
        }
        .background-initial {background-color: transparent; top: -40px; left: 154px; width: 446px; height: 520px; border-width: 3px; border-style: solid; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1700762391238-2 {top: 120px; left: 40px; height: 160px; width: 360px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; border-width: 1px; border-style: solid; text-align: center;
        }
        .silex-id-1706614966331-20 {top: 260px; left: 40px; height: 20px; width: 360px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; text-align: center;
        }
        .silex-id-1706614824448-13 {top: 160px; left: 60px; height: 20px; width: 340px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706614869733-14 {top: 180px; left: 100px; height: 20px; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706614889299-15 {top: 180px; left: 60px; height: 1.4em; width: 40px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706614907201-16 {top: 180px; left: 120px; height: 1.4em; width: 40px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706614916670-17 {top: 180px; left: 160px; height: 20px; width: 40px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706614930049-18 {top: 180px; left: 200px; height: 1.4em; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706614948894-19 {top: 220px; left: 100px; height: 20px; width: 60px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706518582692-1 {top: 480px; left: 80px; height: 20px; width: 280px; text-align: center; font-size: 18px; border-color: rgb(0, 0, 0); border-radius: 8px; border-width: 0px; border-style: solid; font-style: normal; font-weight: bold;
        }
        .silex-id-1710707537338-2 {top: 160px; left: 60px; height: 80px; width: 320px; border-width: 0.5px; border-style: solid;
        }
    