

        .silex-id-1706518497426-0 {top: 20px; left: 20px; height: 40px; width: 400px; font-size: 20px; text-align: center; font-weight: bold; border-width: 2px; border-style: solid; border-radius: 0px; color: rgb(0, 0, 0); background-color: transparent; font-family: Tahoma, Geneva, sans-serif;
        }
        .body-initial {background-color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif; font-style: normal;
        }
        .silex-id-1700762156172-0 {top: 80px; left: 100px; height: 20px; width: 240px; border-width: 1.5px; text-align: center; border-radius: 0px; font-style: normal; border-color: rgb(0, 0, 0); border-style: solid;
        }
        .silex-id-1700762705811-3 {top: 420px; left: 40px; height: 160px; width: 366px; border-width: 0px; border-style: solid;
        }
        .background-initial {background-color: transparent; top: -40px; left: 154px; width: 446px; height: 640px; border-width: 3px; border-style: solid; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1700762391238-2 {top: 120px; left: 40px; height: 280px; width: 360px; border-width: 1px; border-style: solid; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; text-align: center;
        }
        .silex-id-1706518582692-1 {top: 600px; left: 80px; height: 20px; width: 280px; text-align: center; font-size: 18px; border-color: rgb(0, 0, 0); border-radius: 8px; border-width: 0px; border-style: solid; font-style: normal; font-weight: bold;
        }
        .silex-id-1706615276700-22 {top: 300px; left: 60px; height: 20px; width: 100px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615311053-23 {top: 300px; left: 160px; height: 1.4em; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615335542-24 {top: 300px; left: 200px; height: 1.4em; width: 40px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615343078-25 {top: 300px; left: 260px; height: 1.4em; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615357415-26 {top: 300px; left: 180px; height: 20px; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615369519-27 {top: 300px; left: 240px; height: 20px; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615387305-28 {top: 300px; left: 280px; height: 20px; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615400175-29 {top: 320px; left: 100px; height: 20px; width: 40px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615414801-30 {top: 320px; left: 140px; height: 1.4em; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615428659-31 {top: 320px; left: 160px; height: 20px; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615467405-32 {top: 360px; left: 60px; height: 20px; width: 40px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615493254-33 {top: 360px; left: 100px; height: 1.4em; width: 100px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615502195-34 {top: 360px; left: 200px; height: 20px; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706615172646-21 {top: 160px; left: 40px; height: 120px; width: 360px; font-style: italic; font-family: "Trebuchet MS", Helvetica, sans-serif; border-width: 0.5px; border-style: solid;
        }
    