

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1706612619308-2 {top: 20px; left: 220px; height: 40px; width: 400px; text-align: center; font-weight: bold; font-size: 20px; border-width: 2px; border-style: solid;
        }
        .silex-id-1700762156172-0 {top: 80px; left: 320px; height: 20px; width: 200px; text-align: center; border-width: 1.5px; border-style: solid;
        }
        .silex-id-1708258989592-6 {top: 260px; left: 220px; height: 1.4em; width: 20px;
        }
        .silex-id-1708258985576-5 {top: 240px; left: 220px; height: 22px; width: 20px;
        }
        .silex-id-1708258981154-4 {top: 220px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1708259721781-16 {top: 240px; left: 520px; height: 20px; width: 20px;
        }
        .silex-id-1708259747640-21 {top: 360px; left: 520px; height: 20px; width: 20px;
        }
        .silex-id-1708259762591-23 {top: 360px; left: 700px; height: 20px; width: 20px;
        }
        .silex-id-1708258991474-7 {top: 280px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1708259757374-22 {top: 240px; left: 700px; height: 20px; width: 20px;
        }
        .silex-id-1708258981154-4 > label {border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708258985576-5 > label {border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708258989592-6 > label {border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708258991474-7 > label {border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708259392820-9 {top: 220px; left: 660px; height: 20px; width: 140px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708259470297-10 {top: 180px; left: 460px; height: 20px; width: 140px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708259499108-11 {top: 200px; left: 480px; height: 20px; width: 120px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708259548844-12 {top: 220px; left: 460px; height: 20px; width: 140px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708259567133-14 {top: 180px; left: 660px; height: 20px; width: 140px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708259569760-15 {top: 200px; left: 680px; height: 20px; width: 120px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708259721781-16 > label {border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708259747640-21 > label {border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708259757374-22 > label {border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708259762591-23 > label {border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708262083419-29 {top: 280px; left: 445px; height: 20px; width: 155px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708262128358-31 {top: 160px; left: 640px; height: 20px; width: 160px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708262141501-32 {top: 160px; left: 440px; height: 20px; width: 155px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708262199849-33 {top: 300px; left: 465px; height: 20px; width: 135px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708262204343-34 {top: 320px; left: 445px; height: 20px; width: 155px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708422615518-0 {top: 280px; left: 640px; height: 20px; width: 160px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708422621541-1 {top: 300px; left: 660px; height: 20px; width: 140px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708422624702-2 {top: 320px; left: 660px; height: 20px; width: 140px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708422628979-3 {top: 340px; left: 640px; height: 20px; width: 160px; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: -40px; left: 160px; width: 840px; height: 620px; font-family: Tahoma, Geneva, sans-serif; border-width: 3px; border-style: solid;
        }
        .silex-id-1700762705811-3 {top: 420px; left: 240px; height: 140px; width: 366px;
        }
        .silex-id-1706612949621-3 {top: 580px; left: 300px; height: 20px; width: 240px; text-align: center; font-size: 18px; font-weight: bold;
        }
        .silex-id-1708258762438-2 {top: 420px; left: 40px; height: 140px; width: 180px; font-size: 16px; border-width: 1px; border-style: solid;
        }
        .silex-id-1708258834110-3 {top: 440px; left: 60px; height: 120px; width: 40px; font-size: 12px;
        }
        .silex-id-1700762391238-2 {top: 120px; left: 40px; height: 280px; width: 360px; border-style: solid; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704804604896-5 {top: 120px; left: 440px; height: 280px; width: 360px; border-style: solid; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708258716397-1 {top: 220px; left: 60px; height: 80px; width: 160px; font-style: italic; border-width: 1px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708341047135-1 {top: 320px; left: 40px; height: 80px; width: 360px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; text-align: center; border-width: 0.5px; border-style: solid;
        }
        .silex-id-1708341065647-2 {top: 120px; left: 40px; height: 80px; width: 360px; font-family: "Trebuchet MS", Helvetica, sans-serif; text-align: center; font-weight: bold; border-width: 0.5px; border-style: solid;
        }
        .silex-id-1708422099034-0 {top: 120px; left: 440px; height: 20px; width: 360px; font-family: "Trebuchet MS", Helvetica, sans-serif; text-align: center; font-weight: bold; border-width: 0.5px; border-style: solid;
        }
        .silex-id-1708341102065-3 {top: 420px; left: 40px; height: 20px; width: 180px; border-width: 0.5px; border-style: solid; font-weight: bold;
        }
    