

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1700762156172-0 {top: 20px; left: 120px; height: 20px; width: 200px;
        }
        .silex-id-1700762287371-1 {top: 60px; left: 40px; height: 20px; width: 240px;
        }
        .silex-id-1700762391238-2 {top: 100px; left: 40px; height: 20px; width: 360px;
        }
        .silex-id-1701080446269-0 {top: 140px; left: 40px; height: 20px; width: 360px;
        }
        .silex-id-1701343097557-1 {top: 160px; left: 40px; height: 1.4em; width: 60px;
        }
        .silex-id-1700762705811-3 {top: 320px; left: 40px; height: 160px; width: 366px;
        }
        .silex-id-1700909256620-1 {top: 260px; left: 40px; height: 40px; width: 360px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 446px; height: 495px;
        }
        .silex-id-1701343124111-2 {top: 160px; left: 100px; height: 20px; width: 40px;
        }
        .silex-id-1701343139242-3 {top: 160px; left: 140px; height: 22px; width: 20px;
        }
        .silex-id-1701344061895-9 {top: 200px; left: 80px; height: 40px; width: 320px;
        }
    