

        .silex-id-1700762287371-1 {top: 60px; left: 40px; height: 20px; width: 240px;
        }
        .silex-id-1700762391238-2 {top: 100px; left: 40px; height: 20px; width: 360px;
        }
        .silex-id-1701080446269-0 {top: 140px; left: 40px; height: 140px; width: 40px;
        }
        .silex-id-1701343373581-5 {top: 140px; left: 80px; height: 140px; width: 80px;
        }
        .silex-id-1704804130255-0 > label {text-align: center;
        }
        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1700762156172-0 {top: 20px; left: 320px; height: 20px; width: 200px;
        }
        .silex-id-1704804604896-5 {top: 100px; left: 440px; height: 20px; width: 360px;
        }
        .silex-id-1700909256620-1 {top: 300px; left: 40px; height: 80px; width: 360px;
        }
        .silex-id-1704805146472-14 {top: 260px; left: 440px; height: 20px; width: 120px;
        }
        .silex-id-1704805489677-19 {top: 260px; left: 580px; height: 20px; width: 100px;
        }
        .silex-id-1704805004108-12 {top: 140px; left: 580px; height: 20px; width: 100px;
        }
        .silex-id-1704805422203-17 {top: 160px; left: 600px; height: 100px; width: 80px;
        }
        .silex-id-1704805528748-20 {top: 260px; left: 700px; height: 20px; width: 100px;
        }
        .silex-id-1704805535178-21 {top: 200px; left: 720px; height: 60px; width: 80px;
        }
        .silex-id-1704805398774-16 {top: 140px; left: 700px; height: 60px; width: 100px;
        }
        .silex-id-1704805260471-15 {top: 200px; left: 480px; height: 60px; width: 80px;
        }
        .silex-id-1704804979281-11 {top: 300px; left: 500px; height: 20px; width: 20px;
        }
        .silex-id-1700762705811-3 {top: 400px; left: 240px; height: 140px; width: 366px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 846px; height: 555px;
        }
        .silex-id-1704804858910-9 {top: 140px; left: 440px; height: 60px; width: 120px;
        }
        .silex-id-1704804195372-1 {top: 200px; left: 180px; height: 20px; width: 20px;
        }
        .silex-id-1704804198053-2 {top: 220px; left: 180px; height: 20px; width: 20px;
        }
        .silex-id-1704804205298-3 {top: 260px; left: 180px; height: 20px; width: 20px;
        }
        .silex-id-1704804130255-0 {top: 180px; left: 180px; height: 20px; width: 20px;
        }
        .silex-id-1704805657363-23 {top: 300px; left: 740px; height: 20px; width: 20px;
        }
        .silex-id-1704805632138-22 {top: 300px; left: 620px; height: 20px; width: 20px;
        }
    