

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 446px; height: 555px;
        }
        .silex-id-1700762156172-0 {top: 20px; left: 120px; height: 20px; width: 200px;
        }
        .silex-id-1700762287371-1 {top: 60px; left: 40px; height: 20px; width: 240px;
        }
        .silex-id-1700762391238-2 {top: 100px; left: 40px; height: 20px; width: 360px;
        }
        .silex-id-1701080446269-0 {top: 140px; left: 40px; height: 20px; width: 360px;
        }
        .silex-id-1700909256620-1 {top: 260px; left: 40px; height: 20px; width: 360px;
        }
        .silex-id-1700815549932-0 {top: 300px; left: 40px; height: 60px; width: 360px;
        }
        .silex-id-1700762705811-3 {top: 380px; left: 40px; height: 160px; width: 366px;
        }
        .silex-id-1701080525797-1 {top: 180px; left: 40px; height: 20px; width: 360px;
        }
        .silex-id-1701080604237-3 {top: 220px; left: 40px; height: 20px; width: 360px;
        }
    