

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1700762156172-0 {top: 20px; left: 120px; height: 20px; width: 200px;
        }
        .silex-id-1700762287371-1 {top: 60px; left: 40px; height: 20px; width: 240px;
        }
        .silex-id-1700762705811-3 {top: 420px; left: 40px; height: 140px; width: 366px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 446px; height: 575px;
        }
        .silex-id-1701863944447-2 {top: 320px; left: 40px; height: 20px; width: 100px;
        }
        .silex-id-1704883430353-37 {top: 340px; left: 80px; height: 20px; width: 40px;
        }
        .silex-id-1704883443844-38 {top: 340px; left: 120px; height: 1.4em; width: 20px;
        }
        .silex-id-1704883449004-39 {top: 340px; left: 140px; height: 20px; width: 20px;
        }
        .silex-id-1704883499462-42 {top: 380px; left: 40px; height: 20px; width: 40px;
        }
        .silex-id-1704883513168-43 {top: 380px; left: 80px; height: 1.4em; width: 100px;
        }
        .silex-id-1704883521295-44 {top: 380px; left: 180px; height: 20px; width: 20px;
        }
        .silex-id-1700909256620-1 {top: 180px; left: 40px; height: 120px; width: 360px;
        }
        .silex-id-1700762391238-2 {top: 100px; left: 40px; height: 60px; width: 360px;
        }
        .silex-id-1704883382694-35 {top: 320px; left: 140px; height: 1.4em; width: 20px;
        }
        .silex-id-1704883933531-45 {top: 320px; left: 160px; height: 20px; width: 20px;
        }
        .silex-id-1704883410577-36 {top: 320px; left: 260px; height: 20px; width: 20px;
        }
        .silex-id-1704883964825-48 {top: 320px; left: 240px; height: 1.4em; width: 20px;
        }
        .silex-id-1704883954599-47 {top: 320px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1704883948140-46 {top: 320px; left: 180px; height: 1.4em; width: 40px;
        }
    