

        .silex-id-1704289853284-0 {top: 40px; left: 40px; height: 40px; width: 320px; font-size: 20px;
        }
        .body-initial {background-color: rgb(255, 255, 255); text-align: center;
        }
        .silex-id-1704290166981-5 {top: 140px; left: 20px; height: 20px; width: 100px;
        }
        .silex-id-1704290259918-6 {top: 180px; left: 20px; height: 20px; width: 340px; text-align: left;
        }
        .silex-id-1704289926997-1 {top: 100px; left: 20px; height: 20px; width: 340px; text-align: left;
        }
        .silex-id-1704290314329-12 {top: 220px; left: 60px; height: 20px; width: 300px; text-align: left;
        }
        .silex-id-1704290327455-13 {top: 260px; left: 60px; height: 20px; width: 300px; text-align: left;
        }
        .silex-id-1704290357434-15 {top: 300px; left: 60px; height: 20px; width: 300px; text-align: left;
        }
        .silex-id-1704290371294-16 {top: 340px; left: 60px; height: 20px; width: 300px; text-align: left;
        }
        .silex-id-1704290385466-17 {top: 380px; left: 60px; height: 20px; width: 60px; text-align: left;
        }
        .silex-id-1704290402592-18 {top: 380px; left: 140px; height: 1.4em; width: 220px;
        }
        .silex-id-1704290418223-19 {top: 440px; left: 160px; height: 64px; width: 64px;
        }
        .silex-id-1704290307302-11 {top: 380px; left: 20px; height: 20px; width: 20px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 180px; width: 400px; height: 560px;
        }
        .silex-id-1704290295078-8 {top: 260px; left: 20px; height: 20px; width: 20px;
        }
        .silex-id-1704290299992-9 {top: 300px; left: 20px; height: 20px; width: 20px;
        }
        .silex-id-1704290301193-10 {top: 340px; left: 20px; height: 20px; width: 20px;
        }
        .silex-id-1704292480157-20 {top: 220px; left: 20px; height: 20px; width: 20px;
        }
    