

        .body-initial {background-color: rgb(255, 255, 255); font-family: Tahoma, Geneva, sans-serif; font-style: normal;
        }
        .silex-id-1706518497426-0 {top: 20px; left: 60px; height: 40px; width: 400px; font-size: 20px; text-align: center; font-weight: bold; border-width: 2px; border-style: solid; border-radius: 0px; color: rgb(0, 0, 0); background-color: transparent; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1700762156172-0 {top: 80px; left: 140px; height: 20px; width: 240px; border-width: 1.5px; text-align: center; border-radius: 0px; font-style: normal; border-color: rgb(0, 0, 0); border-style: solid;
        }
        .silex-id-1700762705811-3 {top: 400px; left: 80px; height: 160px; width: 366px; border-width: 0px; border-style: solid;
        }
        .background-initial {background-color: transparent; top: -40px; left: 80px; width: 520px; height: 620px; border-width: 3px; border-style: solid; font-family: Tahoma, Geneva, sans-serif;
        }
        .silex-id-1706518582692-1 {top: 580px; left: 140px; height: 20px; width: 240px; text-align: center; font-size: 18px; border-color: rgb(0, 0, 0); border-radius: 8px; border-width: 0px; border-style: solid; font-style: normal; font-weight: bold;
        }
        .silex-id-1700762391238-2 {top: 120px; left: 40px; height: 265px; width: 440px; border-width: 1px; border-style: solid; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708074521387-0 {top: 220px; left: 45px; height: 20px; width: 80px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708074563149-1 {top: 220px; left: 125px; height: 1.4em; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708074569951-2 {top: 240px; left: 125px; height: 20px; width: 40px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708074602182-3 {top: 240px; left: 45px; height: 22px; width: 80px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708074648655-4 {top: 280px; left: 45px; height: 20px; width: 120px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708074801373-6 {top: 280px; left: 165px; height: 1.4em; width: 80px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708074810268-7 {top: 280px; left: 245px; height: 20px; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708074820152-8 {top: 280px; left: 265px; height: 1.4em; width: 80px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708074971490-10 {top: 320px; left: 45px; height: 20px; width: 140px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708074999660-11 {top: 320px; left: 185px; height: 1.4em; width: 80px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708075054041-14 {top: 320px; left: 365px; height: 1.4em; width: 80px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708075074209-16 {top: 360px; left: 45px; height: 20px; width: 200px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708075113266-17 {top: 320px; left: 265px; height: 20px; width: 100px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708075183637-18 {top: 320px; left: 445px; height: 20px; width: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708075321147-19 {top: 360px; left: 245px; height: 1.4em; width: 120px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708075334655-20 {top: 360px; left: 365px; height: 20px; width: 100px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1708344650092-7 {top: 120px; left: 40px; height: 80px; width: 440px; text-align: center; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif; border-width: 0.5px; border-style: solid;
        }
    