

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1704804205298-3 {top: 280px; left: 180px; height: 20px; width: 20px;
        }
        .silex-id-1704804198053-2 {top: 240px; left: 180px; height: 20px; width: 20px;
        }
        .silex-id-1704804195372-1 {top: 220px; left: 180px; height: 20px; width: 20px;
        }
        .silex-id-1704804979281-11 {top: 320px; left: 500px; height: 20px; width: 20px;
        }
        .silex-id-1704805632138-22 {top: 320px; left: 620px; height: 20px; width: 20px;
        }
        .silex-id-1704805657363-23 {top: 320px; left: 740px; height: 20px; width: 20px;
        }
        .silex-id-1706612619308-2 {top: 20px; left: 220px; height: 40px; width: 400px; text-align: center; font-weight: bold; font-size: 20px; border-width: 2px; border-style: solid;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 0px; left: 154px; width: 846px; height: 600px; font-family: Tahoma, Geneva, sans-serif; border-width: 3px; border-style: solid;
        }
        .silex-id-1700762156172-0 {top: 80px; left: 320px; height: 20px; width: 200px; text-align: center; border-width: 1.5px; border-style: solid;
        }
        .silex-id-1700762705811-3 {top: 400px; left: 240px; height: 140px; width: 366px;
        }
        .silex-id-1704804130255-0 {top: 200px; left: 180px; height: 20px; width: 20px;
        }
        .silex-id-1700762391238-2 {top: 120px; left: 40px; height: 260px; width: 360px; border-width: 1px; border-style: solid; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1701080446269-0 {top: 160px; left: 45px; height: 140px; width: 40px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1701343373581-5 {top: 160px; left: 80px; height: 140px; width: 80px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704804130255-0 > label {text-align: center; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704804195372-1 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704804198053-2 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704804205298-3 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704804604896-5 {top: 120px; left: 440px; height: 260px; width: 360px; border-width: 1px; border-style: solid; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704804858910-9 {top: 160px; left: 445px; height: 60px; width: 120px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704804979281-11 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704805004108-12 {top: 160px; left: 580px; height: 20px; width: 100px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704805146472-14 {top: 280px; left: 445px; height: 20px; width: 120px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704805260471-15 {top: 220px; left: 480px; height: 60px; width: 80px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704805398774-16 {top: 160px; left: 700px; height: 60px; width: 100px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704805422203-17 {top: 180px; left: 600px; height: 100px; width: 80px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704805489677-19 {top: 280px; left: 580px; height: 20px; width: 100px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704805528748-20 {top: 280px; left: 700px; height: 20px; width: 100px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704805535178-21 {top: 220px; left: 720px; height: 60px; width: 80px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704805632138-22 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704805657363-23 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1706612949621-3 {top: 560px; left: 280px; height: 20px; width: 280px; text-align: center; font-size: 18px; font-weight: bold;
        }
        .silex-id-1700909256620-1 {top: 300px; left: 40px; height: 80px; width: 360px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; text-align: center; border-width: 0.5px; border-style: solid;
        }
        .silex-id-1708341224605-5 {top: 120px; left: 40px; height: 20px; width: 360px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; text-align: center; border-width: 0.5px; border-style: solid;
        }
        .silex-id-1708341260454-6 {top: 120px; left: 440px; height: 20px; width: 360px; font-family: "Trebuchet MS", Helvetica, sans-serif; text-align: center; font-weight: bold; border-width: 0.5px; border-style: solid;
        }
    