

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1706696523512-10 {top: 20px; left: 220px; height: 40px; width: 400px; font-weight: bold; font-size: 20px; text-align: center; border-width: 2px; border-style: solid;
        }
        .silex-id-1700762156172-0 {top: 80px; left: 320px; height: 20px; width: 200px; text-align: center; border-width: 1.5px; border-style: solid;
        }
        .silex-id-1700762705811-3 {top: 540px; left: 240px; height: 140px; width: 366px;
        }
        .silex-id-1704881661189-2 {top: 160px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1704881665520-3 {top: 180px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1704881678044-4 {top: 200px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1704881679618-5 {top: 240px; left: 240px; height: 22px; width: 20px;
        }
        .silex-id-1704881683199-6 {top: 260px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1704881686789-7 {top: 280px; left: 240px; height: 1.4em; width: 20px;
        }
        .silex-id-1704881687764-8 {top: 280px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1704881696627-9 {top: 300px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1704882102236-0 {top: 320px; left: 240px; height: 22px; width: 20px;
        }
        .silex-id-1704882105811-1 {top: 340px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1704882106655-2 {top: 360px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1704882108087-3 {top: 380px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1704882110746-4 {top: 400px; left: 240px; height: 20px; width: 20px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 846px; height: 735px; font-family: Tahoma, Geneva, sans-serif; border-width: 3px; border-style: solid;
        }
        .silex-id-1704883066436-33 {top: 460px; left: 520px; height: 20px; width: 20px;
        }
        .silex-id-1704883078055-34 {top: 460px; left: 700px; height: 22px; width: 20px;
        }
        .silex-id-1706696734978-11 {top: 700px; left: 280px; height: 20px; width: 280px; font-size: 18px; text-align: center; font-weight: bold;
        }
        .silex-id-1701080446269-0 {top: 160px; left: 45px; height: 20px; width: 200px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1701343494055-7 {top: 380px; left: 45px; height: 40px; width: 200px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704881661189-2 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704881665520-3 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704881678044-4 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704881679618-5 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704881683199-6 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704881686789-7 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704881687764-8 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704881696627-9 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882102236-0 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882105811-1 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882106655-2 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882108087-3 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882110746-4 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882420273-5 {top: 180px; left: 425px; height: 20px; width: 200px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882473332-7 {top: 400px; left: 425px; height: 40px; width: 200px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882555750-10 {top: 360px; left: 620px; height: 20px; width: 180px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882624279-11 {top: 180px; left: 620px; height: 20px; width: 180px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882665218-12 {top: 200px; left: 660px; height: 20px; width: 140px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882745599-13 {top: 220px; left: 700px; height: 20px; width: 100px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882765393-14 {top: 240px; left: 660px; height: 20px; width: 140px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882782389-15 {top: 260px; left: 700px; height: 20px; width: 100px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882794142-16 {top: 280px; left: 660px; height: 20px; width: 140px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882813841-17 {top: 300px; left: 700px; height: 20px; width: 100px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882833855-18 {top: 320px; left: 660px; height: 20px; width: 140px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882860685-19 {top: 180px; left: 80px; height: 80px; width: 160px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882896634-20 {top: 260px; left: 120px; height: 20px; width: 120px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882907995-21 {top: 280px; left: 80px; height: 20px; width: 160px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882930253-22 {top: 300px; left: 120px; height: 20px; width: 120px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882945364-23 {top: 320px; left: 80px; height: 20px; width: 160px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882964507-24 {top: 340px; left: 120px; height: 20px; width: 120px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704882983471-25 {top: 360px; left: 80px; height: 20px; width: 160px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704883009343-26 {top: 200px; left: 460px; height: 80px; width: 160px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704883013416-27 {top: 280px; left: 500px; height: 20px; width: 120px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704883016705-28 {top: 300px; left: 460px; height: 20px; width: 160px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704883019239-29 {top: 320px; left: 500px; height: 20px; width: 120px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704883021894-30 {top: 340px; left: 460px; height: 20px; width: 160px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704883026594-31 {top: 360px; left: 500px; height: 20px; width: 120px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704883030480-32 {top: 380px; left: 460px; height: 20px; width: 160px; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704883066436-33 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1704883078055-34 > label {font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1700762391238-2 {top: 120px; left: 40px; height: 400px; width: 380px; border-width: 1px; border-style: solid; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; text-align: center;
        }
        .silex-id-1704881431483-0 {top: 120px; left: 420px; height: 400px; width: 380px; border-width: 1px; border-style: solid; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; text-align: center;
        }
        .silex-id-1700909256620-1 {top: 440px; height: 80px; width: 380px; left: 40px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; text-align: center; border-width: 0.5px; border-style: solid;
        }
        .silex-id-1710708100990-8 {top: 120px; left: 40px; height: 20px; width: 380px; border-width: 0.5px; border-style: solid;
        }
        .silex-id-1710708109629-9 {top: 120px; left: 420px; height: 20px; width: 380px; border-width: 0.5px; border-style: solid;
        }
    